<!-- <app-navbar></app-navbar> -->

<h1>Employee details</h1>
<hr/> <br/>

<div class="details">
    <label>Employee number: 03450</label><br/>
    <label>First Name: Nande</label><br/>
    <label>Last Name: Toyi</label><br/>
    <label>Email address: nande@theboringcompany.com</label><br/>
    <label>Department: IT</label><br/><br/>
</div>

<div class="buttons">
    <button  class="button-3" role="button" routerLink="/pages/edit">Edit details</button> &nbsp; 
    <button class="button-2" role="button"  (click)="clickMethod('name')">Delete details</button>

    <button class="button-1" role="button" routerLink="/pages/view-all-emp">Go Back</button>
</div>

<!-- <app-footer></app-footer> -->